#mazegen-title {
    font-size: 3.5em;
    margin: 20px;
    color: var(--bs-custom-color-text-emphasis);
}

.mazegen-media {
    width: 50%;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0;
    background-color: var(--bs-custom-color-border-subtle);
}

#mazegen-jumbotron {
    margin-top: 30px;
}

#mazegen-media-row {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .mazegen-media {
        width: 100%;
        margin: 0 10px;
    }
}