#futplanner-title {
    font-size: 3.5em;
    margin: 20px;
    color: var(--bs-custom-color-text-emphasis);
}

video {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
}

#leftcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* #rightcol {} */

.mobile {
    display: flex;
    align-items: space-evenly;
    justify-content: center;

}

.mobile img {
    width: 40%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
    margin: 10px;
}

.mobile video {
    width: 40%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
    margin: 10px;

}

.futplanner-text {
    font-size: 1.1em;
    display: inline-block;
}