#futplanner-title {
    font-size: 3.5em;
    margin: 20px;
    color: var(--bs-custom-color-text-emphasis);
}

.vid {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
}

#leftcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* #rightcol {} */

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.mobile img {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
    margin: 10px;
}

.mobile .vid {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
    margin: 10px;

}

.futplanner-text {
    font-size: 1.1em;
    display: inline-block;
}

@media (max-width: 768px) {

    .mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .mobile img {
        width: 45%;
    }

    .mobile .vid {
        width: 45%;
    }

}