#futplanner-title {
    font-size: 3.5em;
    margin: 20px;
    color: var(--bs-custom-color-text-emphasis);
}

.futplanner-content {
    display: flex;
    margin: 20px;
}

.futplanner-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 50%;

}

#futplanner-jumbotron {
    width: 50%;
}

.futplanner-media .vid {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
}

.mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(16, 0, 0, 0.4);
    background-color: var(--bs-custom-color-border-subtle);
    margin: 10px;
}



@media (max-width: 1000px) {
    .futplanner-content {
        flex-direction: column;
    }

    #futplanner-jumbotron {
        width: 100%;
    }

    .futplanner-media {
        width: 100%;
    }
}