#intherough-title {
    font-size: 3.5em;
    margin: 20px;
    color: var(--bs-custom-color-text-emphasis);

}

#intherough-jumbotron {
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .intherough-media {
        width: 100%;
        margin: 0 10px;
    }
}