header {
    background-color: #f8f8f8;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
    display: inline-block;
}

@media (max-width: 768px) {
    #title {
        font-size: 1.5em;
        margin-left: 20px;
    }

    a {
        margin-left: 20px;
    }
}